<a href="/member/dashboard">Back</a>

<div class="grid  text--center">
    <div class="grid__item  lap-and-up-one-whole">
        <div class="awesome-form">
            {{ if logged_in }}
            <h1>Edit your customer record</h1>
            {{ theme:partial src="forms/_form_error_raven" }}
            {{ theme:partial src="forms/_form_success_raven" }}

                {{ raven:form formset="customer" edit="{ current_url }" }}
                <div class="">
                    <input type="hidden" name="member" value="{{ current_member:_uid }}" />
                </div>
			
				<div class="">
                    <input type="text" name="postcode" value="{{ old_values:postcode }}" id="postcode" placeholder="xxxx xxx">
                    <label for="postcode">Postcode</label>
                </div>
			
				<div>
					<input type="text" name="where[latitude]" id="lat" placeholder="lat">
					<input type="text"  name="where[longitude]" id="lon" placeholder="lon">
					<button id="getlatlong">get lat long</button>
					<pre id="coords"></pre>
				</div>

				<script>
					(function() {
						var postcodeIOapi = "//api.postcodes.io/postcodes/" + $( "#postcode" ).val();
  						$.getJSON( postcodeIOapi, function( data ) {
							
						});
						
						var displayJsonResult = function ($context, data) {
							$context.html(JSON.stringify(data, null, 4)).slideDown();
						}

						$("#getlatlong").click(function (event) {
							event.preventDefault();
							var $result = $("#coords").slideUp(),
								postcode = $("#postcode").val();
							$.getJSON(postcodeIOapi)
								.done(function (data) {
									displayJsonResult($result, data);
								
									//var json = $.parseJSON(data);
									$("#lat").val( 'latitude: ' + data.result.latitude );
									$("#lon").val( 'longitude: ' + data.result.longitude );
								})
								.fail(function (error) {
									displayJsonResult($result, error.responseJSON);
								});
						});
						
					})();
					
					
				</script>
			
                <div class="">
                    <input type="text" name="title" value="{{ old_values:title }}" id="title">
                    <label for="title">Title</label>
                </div>

                <div class="">
                    <input type="text" name="contact_name" value="{{ old_values:contact_name }}" id="contact_name">
                    <label for="contact_name">Contact Name</label>
                </div>

                <div class="">
                    <input type="text" name="role" value="{{ old_values:role }}" id="role"> <!-- will need to be select at some point -->
                    <label for="role">Role</label>
                </div>

                <div class="">
                    <input type="tel" name="contact_phone" value="{{ old_values:contact_phone }}" id="contact_phone">
                    <label for="contact_phone">Contact Phone</label>
                </div>

                <div class="">
                    <input type="tel" name="contact_mobile" value="{{ old_values:contact_mobile }}" id="contact_mobile">
                    <label for="contact_mobile">Contact Mobile</label>
                </div>

                <div class="">
                    <input type="email" name="contact_email" value="{{ old_values:contact_email }}" id="contact_email">
                    <label for="contact_email">Contact Email</label>
                </div>

                <div class="">
                    <input type="tel" name="company_phone" value="{{ old_values:company_phone }}" id="company_phone">
                    <label for="company_phone">Company Phone</label>
                </div>

                <div class="">
                    <input type="tel" name="company_fax" value="{{ old_values:company_fax }}" id="company_fax">
                    <label for="company_fax">Company Fax</label>
                </div>

                <div class="">
                    <input type="email" name="company_email" value="{{ old_values:company_email }}" id="company_email">
                    <label for="company_email">Company Email</label>
                </div>

                <div class="">
                    <input type="url" name="website" value="{{ old_values:website }}" id="website">
                    <label for="website">Website</label>
                </div>

                <div class="">
                    <input type="text" name="company_name" value="{{ old_values:company_name }}" id="company_name">
                    <label for="company_name">Company Name</label>
                </div>

                <div class="">
                    <input type="number" name="customer_number" value="{{ old_values:customer_number }}" id="customer_number">
                    <label for="customer_number">Customer Number</label>
                </div>

                <div class="">
                    <input type="text" name="address_line_1" value="{{ old_values:address_line_1 }}" id="address_line_1">
                    <label for="address_line_1">Address Line 1</label>
                </div>

                <div class="">
                    <input type="text" name="address_line_2" value="{{ old_values:address_line_2 }}" id="address_line_2">
                    <label for="address_line_2">Address Line 2</label>
                </div>

                <div class="">
                    <input type="text" name="address_line_3" value="{{ old_values:address_line_3 }}" id="address_line_3">
                    <label for="address_line_3">Address Line 3</label>
                </div>

                <div class="">
                    <input type="text" name="city" value="{{ old_values:city }}" id="city">
                    <label for="city">City</label>
                </div>

                <div class="">
                    <input type="text" name="region" value="{{ old_values:region }}" id="region"> <!-- will need to be select at some point -->
                    <label for="region">Region</label>
                </div>

                <div class="">
                    <input type="text" name="postcode" value="{{ old_values:postcode }}" id="postcode" placeholder="xxxx xxx">
                    <label for="postcode">Postcode</label>
                </div>

                <div class="">
                    <input type="text" name="country" value="{{ old_values:country }}" id="country"> <!-- will need to be select at some point -->
                    <label for="country">Country</label>
                </div>

                <div class="">
                    <input type="textarea" name="notes" value="{{ old_values:notes }}" id="notes">
                    <label for="notes">Notes</label>
                </div>

                    <input type="submit" value="Submit">
                <br>
            
                {{ /raven:form }}
            {{ endif }}

        </div>
    </div>
</div>