{{ if !logged_in }}
<section class="section  section-gold  hero">
	<div class="wrap">
		<div class="layout  layout--center">
			<div class="layout__item  u-3/4-tablet-port-and-up">
				<div class="logo  t--center  u-mb">
					<h1 class="visuallyhidden">Gard Chemicals</h1>
					<img class="" src="/assets/img/logo.svg" alt="Gard Chemicals Logo" title="Gard chemicals logo">
					<p class="zeta">Maintenance Chemicals for Industry</p>
					<a href="/member/login" class="btn--transparent">Log in</a>
					<a href="/member/register" class="btn--transparent">Sign up</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section  section--sprout">
	<div class="wrap">
		<div class="layout  layout--center">
			<div class="layout__item  u-1/2-tablet-port-and-up">
				<div class="t--center">
					<h2 class="zeta  mono  uppercase">Some information to help you get by</h2>
					
					<p class="display">
						Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</p>
					<p>
						Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur 
						purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit 
						non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
{{ endif }}
