{{ if !logged_in }}
<section class="section--yellow">
	<div class="wrap">
		<div class="grid">
			<div class="grid__item">
				<div class="t--center">
					<a href="/member/login" class="btn--blue">Log in</a>
    				<a href="/member/register" class="btn--reversed">Register</a>
				</div>
			</div>
		</div>
	</div>
</section>
{{ endif }}
<section>
	<div class="wrap">
		<div class="grid">
			<div class="grid__item">
				<div class="">
				
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="wrap">
		<div class="grid">
			<div class="grid__item">
				<div class="">
				
				</div>
			</div>
		</div>
	</div>
</section>