<input type="checkbox" id="sidebartoggler" name="" value="">
<div class="page-wrap">
	<label for="sidebartoggler" class="toggle">☰</label>
	<div class="page-content">
		{{ if !logged_in }}
		<section class="section--yellow">
			<div class="wrap">
				<div class="grid">
					<div class="grid__item  lap-and-up-one-whole">
						<div class="logo  t--center">
							<img src="/assets/img/logo.svg" title="Gard Chemicals Logo" alt="Gard Chemicals Logo">
							<h1>Maintenance Chemicals for Industry</h1>
						</div>
					</div>
					<div class="grid__item">
						<div class="t--center">
							<a href="/member/login" class="btn--blue">Log in</a>
							<a href="/member/register" class="btn--reversed">Register</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		{{ endif }}
		<section class="section--page">
			<div class="wrap">
				<div class="grid">
					<div class="grid__item">
						<div class="">

						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	{{ theme:partial src="side-bar" }}
</div>
