.dash-block__heading {
	color: $black;
}

.member-header {
	position: relative;
	display: block;
	color: white;
	margin-bottom: $inuit-base-spacing-unit--large;
	.member-img {
		display: inline-block;
		margin-right: $inuit-base-spacing-unit;
		height: 120px;
		width: 120px;
		border-width: 1px;
		border-style: solid;
		border-radius: 50%;
		border-color: transparent;
	}
	.member-heading {
		margin-bottom: 0;
	}
	.member-date {
		display: block;
	}
}


.box {
	padding: $inuit-base-spacing-unit--large;
	background-color: white;
	box-shadow: -$inuit-base-spacing-unit--large $inuit-base-spacing-unit--large 0 0 $yellow-light, -$inuit-base-spacing-unit--large -48px 0 0 $yellow-light;
	margin-bottom: $inuit-base-spacing-unit--huge;
	min-height: 300px;
}

.box--hover {
	&:hover {
		transform: scale(1.01, 1.01);
		&:after {
			opacity: 1;
		}
	}
}

/*
.content {
	display: block;
	text-align: left;
	background-color: white;
	padding: $inuit-base-spacing-unit--large;
	width: 100%;
	min-height: 200px;
	background-position: 250px 120px;
	background-size: 200px;
	background-repeat: no-repeat;
	color: $black;
	cursor: pointer;
	text-decoration: none;
	box-sizing: content-box;
}
*/

/*
.content--customer-form {
	@extend .content;
	box-sizing: border-box;
}
*/

.content--contact {
	background-image: url(/assets/img/contact.png);
}

.content--search {
	background-image: url(/assets/img/search.png);
}

.content--update {
	background-image: url(/assets/img/update.png);
}

.content--log-out {
	background-image: url(/assets/img/log-out.png);
}