// Basic button creation. Pass the mixin and colour variable and tada!

@mixin btn($btn-color) {
	display: inline-block;
	background-color: $btn-color;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	position: relative;
	border-radius: 0.275em;
	border: 0 none;
	padding: 1em 3em 1em;
	font-weight: 700;
	color: white !important;
	text-align: center;
	font-size: 1em;
	line-height: 1 !important;
	white-space: normal;
	max-width: 20em;
	margin-bottom: 0.25em;
//	@include color-transition; 
	&:hover {
		cursor: pointer;
		background-color: mix(black, $btn-color, 15%);
		text-decoration: none;
//		@include color-transition;
	}
}
