@charset "UTF-8";
// global settings and variable.

/*
$heading-font-family:	'DIN Next W01 Bold';
$base-font-family:		'DIN Next W01 Light';
$medium-font-family:	'DIN Next W01 Regular';
*/


.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}