@charset "UTF-8";
// Colour variable go here.

$yellow-light:		rgb(254, 226, 50);
$yellow-dark:		rgb(228, 198, 43);

$blue-light:		rgb(5, 70, 103);
$blue-dark:			rgb(0, 50, 76);

$background:		#F8F8F8;

$dark-grey:			#27292A;

$light-grey:		#5B6667;


/***************
	
	Adobe Kuler pallette
	
***************/

$maroon:			#200C02;
$bronzetone:		#544314;
$gold:				#CA9C02;
$golden-yellow:		#FBE100;
$sprout:			#C3D7B3;