// Base fonts and sizes

$base-font-size:    16px;
$base-line-height:  24px;
$base-font-family: 'droid-serif';
$base-font-color:	white;
$heading-font-family: 'raleway';
$display-font-family: 'droid-serif';


h1,h2,h3,h4,h5,h6 {
	font-family: $heading-font-family;
	font-style: normal;
	font-weight: 600;
	line-height: 1;
}

.default {
	font-family: $display-font-family;
	font-style: normal;
	color: $base-font-color;
	font-weight: 400;
	line-height: 1;
}

.default--large {

}

.default--large {

}

.default--large {

}
