
	<section class="section" style="background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('/assets/img/shutterstock_49561189.jpg'); background-size: cover;">
		<div class="wrap">
			<div class="layout">
			    <div class="layout__item">
			        <div class="box--background">
						{{ entries:listing folder="contacts" conditions="slug:{contactid}" }}
						
							<div class="content">
								<p>{{ title }}</p>
								<p>{{ contact_name }}</p>
								<p>{{ role }}</p>
								<p>{{ company name }}</p>
								<p>{{ city }}</p>
								<p>{{ title }}</p>
							</div>
							<a href="/contact/edit/{{ slug }}">Edit</a>

						{{ /entries:listing }}
			        </div>
			    </div>
			</div>
		</div>
	</section>

