<section class="yellow">
	<div class="wrap">
		<div class="grid">
			<div class="grid__item">
				<div class="awesome-form  default">
					{{ member:login_form return="member/dashboard" attr: class:login|id:login allow_request_return: true }}

						{{ if error }}
							<p class="error">{{ error }}</p>
						{{ endif }}

						<div class="input-group">
							<label for="username">Your Username</label>
							<input type="text" name="username" value="{{ old_values:username }}" id="username">

							{{ if field_errors:username }}
								<br>
								<small class="error">{{ field_errors:username }}</small>
							{{ endif }}

						</div>

						<div class="input-group">
							<label for="password">Your Password</label>
							<input type="password" name="password" value="" id="password">

							{{ if field_errors:password }}
								<br>
								<small class="error">{{ field_errors:password }}</small>
							{{ endif }}

						</div>

						<div class="input-group">
							<input type="submit" value="Log in" class="btn--green">
						</div>

					{{ /member:login_form }}
				</div>
			</div>
		</div>
	</div>
</section>