{{ member:reset_password_form }}

  {{ if url_invalid }}
    <p>The URL is invalid. Please click the link in your email.</p>

  {{ elseif expired }}
    <p>The link is expired</p>

  {{ else }}

    {{ if errors }}
      <div class="errors">
        {{ errors|unordered_list }}
      </div>
    {{ endif }}

    <p>
      <input type="password" name="password" id="password">
      <label for="password">Password</label>
    </p>
    <p>
      <input type="password" name="password_confirmation" id="password_confirmation">
      <label for="password_confirmation">Confirm Password</label>
    </p>
    <br>
    <input type="submit" value="Reset">
  {{ endif }}

{{ /member:reset_password_form }}