<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		
		<title>
			{{ _site_name }}
			{{ if segment_1 }}
			– {{ title }}
			{{ endif }}
		</title>

		<!-- styles -->
		{{ theme:css src="style" tag="true" }}
		{{ theme:css tag="true" }}

		<!-- favicon -->
		<link rel="shortcut icon" type="image/png" href="{{ theme:img src="favicon.png" }}">
		
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	</head>
	<body>
        <div class="grid">
            <div class="grid__item  lap-and-up-one-whole">
                {{ layout_content }}
            </div>
        </div>
	</body>
</html>