<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		
		<title>
			{{ _site_name }}
			{{ if segment_1 }}
			– {{ title }}
			{{ endif }}
		</title>

		<!-- styles -->
		{{ theme:css src="style" tag="true" }}
		
		<!-- Font -->
		<script src="https://use.typekit.net/ira1vjr.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	
	</head>
	<body>
		<a href="/dashboard">Dashboard</a>
        {{ layout_content }}
	</body>
	
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	{{ theme:js src="script" tag="true" }}
</html>